#uo-pic{
  width: 50rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  pointer-events: auto;

}
#uo-pic-container{
  display: contents;
  text-align: center;
  padding: 0;
  margin: 0;
  /*pointer-events: none;*/
}
#question{
    font-size: 20px;
    font-weight: bold;
}
#survey-main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-wrap: wrap;
  overflow: hidden;
  flex-direction: column;
}
#survey-title{
  display: block;
  align-items: center;
  align-content: center;
  min-height: 5vh;
  text-align: center;
  margin: auto;
}
.title{
  display: block;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
.footer{
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
  opacity: 0.8;
  margin-bottom: 1px;
  margin-top: 3px;
  font-style: italic;
  padding: 0;
  list-style-type: none;

}
.footer li {
  display: inline-block; /* 或者使用 "inline" */
  margin-right: 10px; /* 添加右边距来分隔列表项 */
}
ul.footer li {
  margin-left: 20px;
  margin-right: 20px;
}

ul.signature li:first-child {
  margin-left: 0;
}

ul.signature li:last-child {
  margin-right: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  color: #333;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  background-image: url("../img/hertaa1.gif");
  background-position: bottom;

}




h1, h2 {
  color: #333;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*.website-image {*/
/*  text-align: center;*/
/*  margin-top: 20px;*/
/*}*/

/*.website-image img {*/
/*  width: 100%;*/
/*  max-width: 500px;*/
/*  height: auto;*/
/*  border: 1px solid #ddd;*/
/*  border-radius: 4px;*/
/*  padding: 5px;*/
/*}*/

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/*.signature {*/
/*  text-align: center;*/
/*  margin-top: 40px;*/
/*  font-style: italic;*/
/*}*/

/*hr {*/
/*  margin-top: 40px;*/
/*}*/
